CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
apertium-anaphora
*.pc
CTestTestfile.cmake
Testing/
apertium-validate-anaphora
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
build
configure
depcomp
install-sh
missing
src/Makefile.in
config.log
config.status
.deps
*.o
